<!DOCTYPE html>
<html lang="en", style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel = "stylesheet" href = "style-about.css"> -->
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Portfolio</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>
</header>
<section class="content">
    {% include "C:\Users\pattp\jib_note2\auth_app\templates\auth_app\message.html"%}
    <h2> login</h2>
    <p>{{username}}</p>
    <form action = "" method = "post">
        {% csrf_token %}
        <label for = "username"> Username</label>
        <input type = "text" name = "username" id = "username" required>
        <br>
        <label for = "password"> Password </label>
        <input type = "password" name = "password" id = "password" required>
        <br>
        <a href = '/signup'>Dont' have account? Sign up here</a>
        <br>
        <input type = "submit"></input>
    </form>
    
</section>
</body>
</html>